{% extends "!footer.html" %}

{% block extrafooter %}
<hr/>
<p> Search through all YottaDB documentation: </p>
<script>
  (function() {
    var cx = '015178586683968264206:yv69x_jrlac';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>
{{ super() }}
{% endblock %}

