#################################################################
#
# Copyright (c) 2024-2025 YottaDB LLC and/or its subsidiaries.
# All rights reserved.
#
#	This source code contains the intellectual property
#	of its copyright holder(s), and is made available
#	under a license.  If you do not know the terms of
#	the license, please stop and do not read further.
#
#################################################################

favicon.png
logo.png
LICENSE.rst
_build
_static
_templates

# Above is too aggressive and incorrectly includes shared/* files, so fix that problem:
!shared/*

MultiLangProgGuide/YDBLua-ydbdocs.rst
/commit_verify.sh
/deadlinks
/git-checkouts

/r?.??
/latest
/public
