#################################################################
#
# Copyright (c) 2024-2025 YottaDB LLC and/or its subsidiaries.
# All rights reserved.
#
#	This source code contains the intellectual property
#	of its copyright holder(s), and is made available
#	under a license.  If you do not know the terms of
#	the license, please stop and do not read further.
#
#################################################################

MultiLangProgGuide/YDBLua-ydbdocs.rst
MultiLangProgGuide/examples/users
MultiLangProgGuide/examples/simple
MultiLangProgGuide/examples/invalid
MultiLangProgGuide/examples/longkey
MultiLangProgGuide/examples/longvalue
MultiLangProgGuide/examples/encode
/commit_verify.sh
/deadlinks
/git-checkouts

/r?.??
/latest
/public
/Octo
/src
